<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="http://127.0.0.1:8000/cw19/add/" method="POST">

    <p>
        Firstname
        <input type="text" name="firstname">
    </p>
    <p>
        Lastname
        <input type="text" name="lastname">
    </p>
    <p>
        Age
        <input type="number" name="age">
    </p>
    <p>
        Comment
        <textarea name="comment"></textarea>
    </p>
    <br><input type="submit" name="submit", value="Post">
</form>
</body>

</html>